
# ====== کتابخانه‌های اصلی تلگرام ======
python-telegram-bot==20.7

# ====== ورودی و فایل ======
aiofiles==23.2.1
aiohttp==3.9.5

# ====== ابزارهای سیستمی ======
pytz==2024.1
uvloop==0.20.0
requests==2.32.3

# ====== پردازش تصویر و QR ======
pillow==10.3.0
qrcode==7.4.2
imageio==2.36.0

# ====== پایگاه داده و ذخیره‌سازی ======
pymongo==4.10.1

# ====== هوش مصنوعی و APIها ======
openai>=1.2.0

# ====== ابزارهای متفرقه و جانبی ======
numpy==1.26.4
tqdm==4.66.5
